// Specific CSS for your home-page
.home {
  width: 100%;
  height: calc(100vh - 66px);
  overflow: hidden !important;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(https://unsplash.com/fr/photos/mucchio-di-pasta-IZzch3494jg);
  background-size:cover;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .content {
    text-align: center;
  }
  h1 {
    font-size: 75px;
  }
  .btn-home {
    font-size: 24px;
    font-weight: 600;
    padding: 15px 35px !important;
    border-radius: 15px !important;
  }
}
