<div class="home">
  <div class="contect text-align">
    <h1 class="title-home mb-4"><strong>{Resto Geo Pasta}</strong> </h1>
    <h3 class="text mb-5">Vos pâtes fraîches à BSM</h3>
    <%= link_to 'Cliquez pour en savoir plus', articles_path, class:"btn btn-gradient btn-home shadow" %>
  </div>
</div>
